.stock__item {
    border-radius: 4px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-bottom: 10px;
}

.stock__item div {
    display: flex;
    flex: 0.5;
    align-items: flex-start;
    padding-left: 100px;
}

.stock__item:hover {
    background: lightgrey;
}
